/* Common Styles ================================================================================================= */
.text-white{
  color: #fff;
}
/* Close Common Styles ================================================================================================= */

/* Header Styles ================================================================================================= */
header {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 0 10px #0000008c;
}
.comp-logo h6 {
  font-size: 42px;
  margin: 0;
  text-transform: uppercase;
  font-family: fantasy;
  font-weight: 100;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.comp-logo h6 span{
  color: #ff4646;
}
.menu-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-wrapper ul li a {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.menu-wrapper ul li {
  color: #fff;
  padding: 10px 20px;
}
.menu-wrapper ul li a {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: .2s;
  cursor: pointer;
}
.menu-wrapper ul li a:hover {
  color: #ff4646;
}
.menu-wrapper ul li.active a{
  color: #ff4646;
}
/* Close Header Styles ================================================================================================= */
